@import 'tailwindcss';

@theme inline {
	--font-sans: var(--font-dm-sans);
	--color-theme-black: #000000;
	--color-theme-white: #ffffff;
	--color-theme-orange: #fa9819;
}

body {
	text-rendering: optimizeLegibility;

	@apply min-h-dvh bg-theme-black text-theme-white flex flex-col justify-between overscroll-none font-sans antialiased;
}
