.stacksContainer {
	backdrop-filter: blur(50px) brightness(1.2) contrast(1.05);
	background: rgba(0, 0, 0, 0.1);
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.imgWrap {
	animation: moveHorizontal 30s ease infinite;
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-20%) translateY(-2%);
	}
	50% {
		transform: translateX(0%) translateY(0%);
	}
	100% {
		transform: translateX(-20%) translateY(-2%);
	}
}
